{#
  Module: CorePerfiles
  Document : modules\CorePerfiles\index.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 30.08.2012 18:13:36
#}

{% extends layout %}

{% block title parent() ~ ' - '  ~ values.titulo %}

{% block content %}
	{% block filtro %}
	{% if values.permisos['CO'] %}
		{% include '_global/filtroGenericoWrapper.html.twig' with {'filter': values.listado.filter} %}
	{% endif %}
	{% endblock %}

	<div id='div_listado'>
	{% block listado %}
	{% endblock %}
	</div>

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}