/*
    Document   : propios
    Created on : 29-ago-2012, 20:11:10
    Author     : sergio
    Description:
        Purpose of the stylesheet follows.
*/

.FiltrosAdicionales {
    position: absolute;
    z-index: 99;
    top: 2px;
    right: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #eee;
    font-size: 11px;
    border: 1px solid grey;
    width: 290px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.FiltrosAdicionalesComando {
    float: left;
    width: 85px;
    margin: 5px 5px 5px 8px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    background-color: whitesmoke;
    cursor: pointer;
}
.FiltroAdicional {
    height: 22px;
    margin-right: 5px;
    margin-top: 2px;
    padding: 3px;
    float: left;
}

.MensajeError{
    font-size: 12px;
    font-family: Arial, Helvetica, serif;
    color: black;
    padding: 10px 10px 10px 55px;
    margin: 5px;
    background-color: #ff9900;
    background-image: url('../images/notificaciones/error.png');
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

.TituloError{
    margin-bottom: 5px;
    font-weight: bold;
}

.MensajeAlerta{
    font-size: 12px;
    font-family: Arial, Helvetica, serif;
    color: black;
    padding: 10px 10px 10px 55px;
    margin: 5px;
    background-color: #ff9900;
    background-image: url('../images/notificaciones/info.png');
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

.TituloAlerta{
    margin-bottom: 5px;
    font-weight: bold;
}

.projectsSelector {
    width: 190px;
}

.formVariablesEnv {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    position: absolute;
    z-index: 99;
    top: 2px;
    right: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #eee;
    font-size: 11px;
    border: 1px solid grey;
    width: 290px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.comando{ /*BOTONES*/
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #e0e0e0 50%, #c6c6c6 51%, #c6c6c6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(50%,#e0e0e0), color-stop(51%,#c6c6c6), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%,#e0e0e0 50%,#c6c6c6 51%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0e0e0 0%,#e0e0e0 50%,#c6c6c6 51%,#c6c6c6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0e0e0 0%,#e0e0e0 50%,#c6c6c6 51%,#c6c6c6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0e0e0 0%,#e0e0e0 50%,#c6c6c6 51%,#c6c6c6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 3px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    color: #666;
    font-size: 13px;
    font-weight: lighter;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    min-width: 120px;
}

.comando:hover {
    background: #c6c6c6; /* Old browsers */
    background: -moz-linear-gradient(top, #c6c6c6 0%, #c6c6c6 50%, #e0e0e0 51%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(50%,#c6c6c6), color-stop(51%,#e0e0e0), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c6c6c6 0%,#c6c6c6 50%,#e0e0e0 51%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c6c6c6 0%,#c6c6c6 50%,#e0e0e0 51%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c6c6c6 0%,#c6c6c6 50%,#e0e0e0 51%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c6c6c6 0%,#c6c6c6 50%,#e0e0e0 51%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */    
}

.Titulo{
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    color: #585858;
    background-color: #eeeeee;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    height: 24px;
}

/* LISTADO */
.Listado{
    display: block;
    background-color: #eeeeee;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.Listado .Cuerpo{
    width: 100%;
    border: 1px solid white;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    background-repeat: repeat-x;
}

.Listado .Cuerpo .Item { clear: both;  }

.Listado .Cuerpo .Item .Select{
    color:#000000;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
    margin-top: 1px;
    margin-right: 3px;
}

.Listado .Cuerpo .LinkButtom{
    padding-left: 2px;
    padding-right: 2px;
}

.Listado .Cuerpo .Item{
    padding-right: 3px;
}

.Listado .Cuerpo .Par{
    background-color: #eeeeee;
}

.Listado .Cuerpo .Impar{
    background-color: whitesmoke;
}

.Listado .Cuerpo .ItemListado{
    color: black;
}

.Listado .Titulos{
    color: white;
    background-color: #4D4D4D;
    font-weight: bold;
}

.Listado .Titulos .Item{
    text-align: center;
    padding: 2px;
    font-size: 11px;
}

.Listado .Paginacion{
    font-size: 11px;
    color: black;
}

.Listado .Paginacion-izq {
    padding: 5px;
    border-bottom: 1px solid;
    text-align: left;
}

.Listado .Paginacion-der {
    padding: 5px;
    border-top: 1px solid;
    text-align: right;
}

.Listado .Cabecera{
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    color: #585858;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-bottom: 2px;
}

.Listado .Pie{
    background: grey;
    color: white;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
}


/*ESTILOS PARA LOS ACTION LIST*/
.Listado a{ color:black;}
.Listado th{border-style: none; }
.Listado td{border-style: none; }
.Listado .Select{border-style: none; }
.Listado tbody tr:hover td,tbody tr:hover th, tbody tr:hover a{ color: black; background-color: #D9D9D9;}
.Listado .sin_registros{ font-size: 12px; text-align: center;}
/*FIN ACTION LIST*/

.docsCaja {
    padding: 20px;
}

.docsItem {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

.docsFoto {

    float: left;
    margin-left: 20px; 
}

.docsLabel {
    float:left;
    overflow: hidden;
    color: black;
    border-bottom: 1px dotted #525252;
    text-align:left;
    width: 120px;
    margin-right: 5px;
    margin-top: 2px;
}

.docsItem {
    margin-left: 40px;
    float: left;
}

.docsSaltoLinea {
    clear: both;
}

.arbol ul {
    margin-left: 20px;
}

.arbol li {
    padding-top: 5px;
    margin-left: 15px;
}

.arbol a img {
    cursor: pointer;
}

.arbol .conContenido {
    cursor: pointer;
    font-weight: bold;
}



.subirArchivo {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    float: left;
    padding-bottom: 15px;
    width: 100%;
}

.subirArchivo span.master {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    /*width: 100%;*/
}

.subirArchivo span {
    float: left;
}

div.uploader {
    margin-right: 10px;
}

.comEnviar {
    cursor: pointer;
    margin-top: 2px;
    padding: 3px 6px 3px 6px;
    min-width: 70px;
}

#agrupacionImagenes {
    float: left;
    width: 100%;
}

.grupoImagen {
    border-bottom: 1px dashed #ccc;
    float: left;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 100%;    
}

.visualImagen {
    float: left;
    text-align: center; 
    width: 45%;
}

.imagenInfo {
    background: #f2f2f2;
    border-radius: 4px;
    webkit-border-radius: 4px;
    float: left;
    padding: 3%;
    width: 45%;
}

.imagenInfo h4 {
    clear: both;
    color: #333;
    display: block;
    /*float: left;*/
    margin: 0 0 15px 0;
    padding: 0;
    text-align: left !important;
    width: auto;
}

.subirNuevoArchivo {
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 999;
}

.botonera {
    float: left;
    width: 100%;
}

.botonera input {
    cursor: pointer;
}

/**/
.agrupacionDocs {
    float: left;
    width: 99%;
}

.agrupacionDocs h3 {
    /*background: #999;*/
    color: #444;
    float: left;
    width: 99.9%;
    width: calc(100% -2px);
    width: -webkit-calc(100% -2px);
    width: -moz-calc(100% -2px);
}

.titular {
    float: left;
    font-size: 14px;
    margin-left: 25px; 
    padding-top: 0.3em;
    width: 85%
}

.thumbnail {
    float: left;
    margin-top:5px;
    overflow: hidden;
    width: 60px; 
}

.ui-accordion .ui-accordion-content {
    height: auto !important;
}

.docsFoto {
    margin-right: 20px;
}

.docsItem {
    background: #f2f2f2;
    border-radius: 4px;
    webkit-border-radius: 4px;
    float: left;
    margin-left: 0 !important;
    padding: 3%;
    width: 65%;
}

.ui-accordion {
    width: 98%;
}

.field_title input {
    float: left;
    margin-right: 4px;
}

.iconosIndex {
    color: #333;
    float: left;
    height: 150px;
    margin-right: 30px;
    text-align: center;
    width: 120px;
}

.iconosIndex span {
    color: #333;
}

.iconosIndex:hover {
    text-decoration: underline;
}

.listadoApp {
    background: url('../images/flecha.png') 0 3px no-repeat;
    color: #333;
    float: left;
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 15px;
    width: 90%;
}

.listadoApp:hover {
    text-decoration: underline;
}

#tabs1 {
    float: left;
    width: 100%;
}

#general {
    float: left;
    min-height: 250px;
    width: 100%;
}


.left_label ul li span.field_title {
width: 30%;
margin-right: 4px;
float: left !important;
padding-top: 6px;
}

.form_container ul li span.field_title {
width: 30%;
margin-right: 4%;
padding-top: 6px;
margin-bottom: 10px;
display: block;
font-size: 11px;
font-weight: bold;
color: #555;
float: left;
}

.left_label ul li span.form_input {
width: 80%;
margin-left: 20%;
position: relative;
}
.form_container ul li span.form_input {
position: relative;
margin: 0px;
width: 100%;
}