{# MUESTRAR LOS MENSAJES DE ALERTA DEL FORMULARIO           #}
{# CONCATENA TODOS LOS ELEMENTOS DEL ARRAY alertas Y SE LOS #}
{# PASA A LA FUNCION JS SEPARADOS POR EL CARACTER '#'       #}

{% if alertas %}
<div class="MensajeAlerta">
    <p class="TituloAlerta">Avisos:</p>
    <ul>
    {% for alerta in alertas %}
        <li>{{ alerta }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
