{# _global/headerRight.html.twig #}

<div id="top_notification">

{% if action == '' %} {% include '_global/linkNew.html.twig' %} {% endif %}
{% if action == 'new' %} {% include '_global/linkCreate.html.twig' %} {% endif %}
{% if action == 'edit' %}
    {% include '_global/linkSaveDelete.html.twig' %}
    {% include '_global/linkNew.html.twig' %}
{% endif %}

{% include '_global/linkHelp.html.twig' %}
{% include '_global/linkLogout.html.twig' %}

</div>