{# Template el comando Borrar registro #}
{% if values.permisos.permisosModulo['DE'] %}
<div id="confirmacionBorrado" title="Borrar registro"><p>¿Realmente desea borrar el registro?</p></div>
<a href="javascript:;" title="Borrar" onclick="$('#confirmacionBorrado').dialog('open');">
    <img src="{{app.path}}/images/barraherramientas/trash_cmd.png" alt="Borrar" title="Borrar" />
</a>
{% endif %}
