{# Template para el comando New #}
{% if values.permisos.permisosModulo['IN'] and idiomas.actual == 0 %}
<a href='{{app.path}}/{{values.controller}}/new/{{linkValue}}'>
    <img src="{{app.path}}/images/barraherramientas/new_cmd.png" alt="Nuevo" title="Nuevo" />
</a>
{%endif%}