{# _global/menuIconosIzquierda.html.twig #}
<div id="primary_nav" class="g_blue">
    <ul>

        {% if user.idPerfil == 1 %}
        <li><a href="{{app.path}}/CoreVariables/Env/App/{{values.enCurso['app']}}" title="Varibles de Entorno"><span class="icon_block m_dashboard">Variables de Entorno</span></a></li>
        {% endif %}

        {% if values.permisos['VW'] %}
        <li><a href="{{app.path}}/CoreVariables/Web/App/{{values.enCurso['app']}}" title="Variables Web"><span class="icon_block m_projects">Variables Web</span></a></li>
        {% endif %}

        <li><a href="#" title="Events"><span class="icon_block m_events">Events</span></a></li>
        <li><a href="#" title="Address Book"><span class="icon_block p_book">Address Book</span></a></li>
        <li><a href="#" title="Media"><span class="icon_block m_media">Media</span></a></li>
        <li><a href="#" title="Settings"><span class="icon_block m_settings">Settings</span></a></li>
    </ul>
</div>