{# Description of  _global/menuNavegador.html.twig

    RENDERIZA EL MENU DE NAVEGACION QUE SE MUESTRA EN LA PARTE SUPERIOR
    ES EXTENDIDO POR _global/layout.html.twig
#}

{# author Sergio Pérez <sergio.perez@albatronic.com> #}
{# copyright Informática ALBATRONIC, SL #}
{# date 01.09.2012 19:12 #}

<span class="title_icon"><span class="list_image"></span></span>
<h3>
    <a href="{{app.path}}/Index">Home</a> | {{ values.titulo }}
</h3>
