{# Description Login/forgot.htmltwig  #}

{# author Sergio Pérez <sergio.perez@albatronic.com> #}
{# copyright Informática ALBATRONIC, SL #}
{# date 23-agosto-2012 13:46 #}

{% extends "Login/index.html.twig" %}

{% block contenido %}

<form action="forgot" method="post">
    <input name="controller" value="Login" type="hidden" />
    <input name="action" value="forgot" type="hidden" />
    <div class="login_form">
        <h3 class="blue_d">¿Olvidó su Contraseña?</h3>
        <ul>
            <li class="login_mensaje_error">
                {{values.mensaje}}
            </li>

            <li class="login_pass">
                <input name="user" id="user" type="text" value="{{ values.user }}" />
            </li>

        </ul>
    </div>
    <input class="login_btn blue_lgel" name="" value="Enviar" type="submit" />
    <ul class="login_opt_link">
    </ul>
</form>

<script language='JavaScript' type='text/javascript'>
document.getElementById('user').focus();
</script>

{% endblock %}