{#
  Module: EnlSecciones
  Document : modules\EnlSecciones\index.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 10.09.2012 12:31:10
#}

{% extends layout %}

{% block title parent() ~ ' - '  ~ values.titulo %}

{% block content %}
	{% block filtro %}
	{% if values.permisos.permisosModulo['CO'] and values.tieneListado %}
		{% include '_global/filtroGenericoWrapper.html.twig' with {'filter': values.listado.filter} %}
	{% endif %}
	{% endblock %}

	<div id='div_listado'>
	{% block listado %}
	{% endblock %}
	</div>

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}