{#
   VARIABLES WEB ESPECIFICAS DEL MODULO

   Module: CpanRoles
   Document : modules/CpanRoles/fieldsvarEnv.html.twig

   author: Sergio Pérez <sergio.perez@albatronic.com>
   copyright: INFORMATICA ALBATRONIC SL
   date 15.09.2012 13:15:41
#}

{% extends 'CpanVariables/fieldsVarModWeb.html.twig' %}

{% block template %}
<h6>Para añadir variables web específicas debes editar el formulario 'CpanRoles/fieldsVarWeb.html.twig' del módulo</h6>
{% endblock %}
