{#
  Module: CommBancosOficinas
  Document : modules\CommBancosOficinas\index.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 04.11.2012 20:25:21
#}

{% extends '_global/layoutPopup.html.twig' %}

{% block title parent() ~ ' - '  ~ values.titulo %}

{% block content %}
	<div class='Titulo'>{{ values.titulo }}
	{% block navegador %}

            {% if action == '' %}
                {% include '_global/linkNew.html.twig' with {'controller': values.controller,'linkValue':values.linkBy.value} %}
            {% endif %}

            {% if action == 'new' %}
                {% include '_global/linkCreate.html.twig' with {'controller': values.controller,'linkValue':values.linkBy.value} %}
                {% include '_global/linkList.html.twig' with {'controller': values.controller,'linkValue':values.linkBy.value} %}
            {% endif %}

            {% if action == 'edit' %}
                {% include '_global/linkSaveDelete.html.twig' with {'controller': values.controller,'linkValue':values.linkBy.value} %}
                {% include '_global/linkNew.html.twig' with {'controller': values.controller,'linkValue':values.linkBy.value} %}
                {% include '_global/linkList.html.twig' with {'controller': values.controller,'linkValue':values.linkBy.value} %}
            {% endif %}

	{% endblock %}
        </div>

	<div id='div_listado'>
	{% block listado %}
	{% endblock %}
	</div>

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}