{#
  Module: GconContenidos
  Document : modules\GconContenidos\index.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 30.10.2012 18:45:39
#}

{% extends layout %}

{% block title parent() ~ ' - '  ~ values.titulo %}

{% block content %}
	{% block filtro %}
	{% if values.permisos.permisosModulo['CO'] and values.tieneListado %}
		{% include '_global/filtroGenericoWrapper.html.twig' with {'filter': values.listado.filter} %}
	{% endif %}
	{% endblock %}

        <div id='div_listado'>
	{% block listado %}
	{% endblock %}
        </div>

        {% if (values.datos.getPrimaryKeyValue) %}
            {{ macro.linkThickBox(app.path,'Contenidos relacionados','GconContenidosRelacionados/list/'~values.datos.getPrimaryKeyValue,'Contenidos Relacionados con ' ~ values.datos,370,490) }}
            {{ macro.linkThickBox(app.path,'Etiquetas relacionadas','GconContenidosEtiquetas/list/'~values.datos.getPrimaryKeyValue,'Etiquetas Relacionados con ' ~ values.datos,370,490) }}
        {% endif %}

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}